extends layout

block content
  - if(data) {
  table(width='100%', border="1'")
    for row in data
      tr
        td= row.akt_id
  - } else {
  p NOTHING
  - }

  h1= 'Добавить актировку'
  form(method="get", action="/")
    p Город:
    select(name="town")
      option(value="3466") Нижневартовск
      option(value="3462") Сургут
      option(value="3452") Тюмень
    p Класс:
    select(name="class")
      option(value="-1") Удалить актировку
      option(value="0") В обычном режиме
      option(value="4") По 4 класс
      option(value="6") По 6 класс
      option(value="8") По 8 класс
      option(value="9") По 9 класс
      option(value="11") По 11 класс
    p Смена:
    select(name="smena")
      option(value="1") 1 смена
      option(value="2") 2 смена
    p
      input(type="submit")
  // p Welcome to #{title}
